.results {
  width: 100%;
  @include flexbox(flex, column, center, center);
  .searchItem {
    @include flexbox(flex, column, center, center);
    width: 100%;
    margin-bottom: 3%;
    .userHeader {
      @include flexbox(flex, row, center, flex-start);
      width: 100%;
      margin-bottom: 2%;
      .userPhoto {
        width: 250px;
        margin-left: 18%;
        border-radius: 50%;
      }
      .userText {
        margin-left: 1%;
        h2 {
          text-transform: lowercase;
          letter-spacing: 3px;
          font-family: 'alexBrush';
          font-size: 70px;
        }
      }
    }
    .repos {
      @include flexbox(flex, row, center, center, wrap);
      width: 100%;
      .repoItem {
        @include flexbox(flex, column, center, center)
        padding: 1%;
        margin: 1%;
        text-align: center;
        height: 15vh;
        width: 20%;
        overflow: scroll;
        background: rgba(255,255,255, .1);
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
