/**
 * Basic typography style for copy text
 */


@font-face {
  font-family: 'learningCurve';
  src: url("../../fonts/LearningCurve_OT.otf");
}

@font-face {
  font-family: 'alexBrush';
  src: url("../../fonts/AlexBrush-Regular.ttf");
}
